body {
  overflow-y: hidden;
}

#musicPlayerContainer {
  position: absolute;
  top: 5%;
  /* width: 100%; */
  left: 0;
  background-color: #16181bf8;
  border-radius: 0px 15px 15px 0px;
}

#musicPlayerContainer img {
  float: left;
  padding: 15px 20px;

}

#musicInfo {
  padding: 10px 20px 10px 0px;
  font-family: "Helvetica";
  font-weight: 500;
  font-size: 20px;
  color: white;
  float: right;
}

#musicInfo #artistName {
  font-size: 16px;
  font-weight: 400;
}